body {
  /*background-color: blue;*/
    font-family: 'Raleway', sans-serif;
    background-color: #f7f7f7;
    overflow: overlay;
    overflow-x: hidden;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

#loaddiv {
    text-align: center;
    /*padding-top: 23px;*/
}

#myInput {
    /*margin-bottom: 15px;*/
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-family: 'open sans', sans-serif;
    padding-left: 40px;
}

.resultcards {
    margin: 15px 0 15px 0px;
    background: #FFF;
    color: #464646;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
}

.prevsyn {
  font-size: 13px;
  max-height: 99px;
  overflow: hidden;
}

#highrow {
  display: block;
  text-align: center;
  color: #464646;
}

#lowrow {
  display: block;
  text-align: center;
}

#searchselect {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: 0;
  background-color: rgba(241, 241, 241, 1);
  font-weight: bold;
  color: #70757a;
}

.jumbotron-fluid {
  background-color: rgba(235, 235, 235, 1);
  /*padding: 32px 0px 32px 0px;*/
  padding: 22px 0px 22px 0px;
}

.form-control {
  border: 1px solid rgba(0,0,0,.09);
}

.custom-select {
  border: 1px solid rgba(0,0,0,.09);
}

#headertext1 {
  font-weight: bold;
  font-size: 2.5rem;
  /*color: #464646;
  color: #73d873; */
  color: #f59ef1;
}

#headertext2 {
  font-size: 1.20rem;
  color: #464646;
  font-style: italic;
}

#myInput::placeholder {
  color: rgba(0, 0, 0, 0.18)
}

.badge {
  display: inline;
  vertical-align: 3px;
  font-size: 0.65rem;
  border-radius: 2px;
}

.card-img-top {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-right-radius: 0;
}

#seaicon {
  position: absolute;
  left: 13px;
  top: 11px;
  color: #ACACAC;
}

#realheader {
  box-shadow: inset 0 -20px 30px -13px rgba(0, 0, 0, 0.05);
  margin: 0px;
  z-index: 1;
  position: relative;
}

#realheader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .05;
  z-index: -1;
  background: url(/static/images/banner.jpg);
  background-position: 0px -210px;
  background-repeat: no-repeat;
}

.cattags {
/*  font-size: .7rem;
  margin-right: 13px;
  font-weight: bold;*/
}

.addbtn {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  opacity: 0.65;
  border: 0;
}

.blink {
  animation: blink-animation 1s steps(3, start) infinite;
  -webkit-animation: blink-animation 1s steps(3, start) infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink-animation {
    to {visibility: hidden;}
}

/* Standard syntax */
@keyframes blink-animation {
    to {visibility: hidden}
}

.toptag {
  border-radius: 2px;
  opacity: 0.8;
  color: white;
}

.hiddenbuts {
  width: 100%
}

.bottomcardbody {
  padding-top: 0px;
}

.btn-success {
  background-color: #57b86c;
}

.btn-primary {
  background-color: #3697ff;
}

.hiddenbuts {
  border: 0px;
  font-weight: bold;
}

#menucenter{
  font-weight: bold;
}

.menuitems {
  cursor: pointer;
}

.submenuitems {
  cursor: pointer;
}

#submenudiv {
  font-weight: bold;
  opacity: 0.5;
  text-shadow: 0px 1px white;
}

#divider {
  margin: 15px;
}

#appIcon {
  height: 57px;
  bottom: 5px;
  position: relative;
  margin-right: -13px;
}

.wop {
  color: rgba(0,0,0,.5);
  text-align: center;
  font-weight: bold;
}

#topbutton{
  cursor: pointer;
}

#topbutton:hover {
  filter: brightness(115%);
}

#subnavbar {
  padding: 0px;
}

#separator {
  background-color: #7c7c7c00;
  height: 1px;
  width: 20%;
  box-shadow: 0px -4px 20px 0px #000000;
  z-index: -1;
}

#entiresearchbox {
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border-radius: .25rem;
}

#searchselectdiv {
  padding-right: 0px;
}

#searchboxdiv {
  padding-left: 0px;
}

#marginbar {
  margin-bottom: 30px;
}

.card-title {
  color: rgba(0,0,0,.5);
}

.comic-titles {
  color: #DBB1CD;
  color: #D1B894;
  font-weight: bold;
}

.chapter-titles {
  font-weight: bold;
}

#menudiv {
  background-color: #f7f7f7;
}

#menuoptions {
  /*text-shadow: 0px 1px white;*/
}

#header-gradient {
  background-image: linear-gradient(white, #ffffff85, #ffffff00);
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0px;
  z-index: -1;
  opacity: .4;
}

.indexer {
  color: #b485d0;
  font-weight: bold;
  font-size: 1rem;
}

.tagcontainer {
  font-weight: bold;
  font-size: .7rem;
}

.tagcomma {
  margin-right: 8px;
}

.tagcard {
  align-self: flex-end;
}

.tagcontainer::before {
  content: "";
  background-color: #efefef;
  height: 1px;
  width: 100px;
  display: -webkit-box;
  margin-bottom: 10px;
}

.readmore {
  text-align: center;
  font-size: 1.3rem;
  color: #464646;
  cursor: pointer;
  position: absolute;
  bottom: -25px;
  width: 100%;
  z-index: 0;
}

.readmore:hover {
  color: #777777;
  font-size: 1.5rem;
  bottom: -27px;
}

.readmorefade {
  position: absolute;
  width: 100%;
  height: 65px;
  top: -45px;
  left: 0px;
  background-image: linear-gradient(#ffffff00, #ffffffed, white);
  z-index: -1;
  opacity: 1;
}

.comic-id {
  display: none;
}